package components

templ Search() {
	<div class="search-container">
		<label for="search">
			<span class="material-symbols-outlined">search</span>
		</label>
		<input type="search" id="search" name="search" value="" placeholder="Search"/>
	</div>
}
