package pages

import (
	"github.com/sei-shigeo/webApp/db"
	"github.com/sei-shigeo/webApp/views/components"
	"github.com/sei-shigeo/webApp/views/layouts"
)

templ Employees(employees []db.GetEmployeeCardListRow) {
	@layouts.Base() {
		<div class="mainContentLayout">
			<div class="header">
				<h1>Employees</h1>
				@components.Search()
				@components.AccountContainer()
			</div>
			<div class="content">
				@EmployeesCard(employees)
			</div>
		</div>
	}
}
